<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>News Website</title>
    </head>
    <body>
        <h1>BBC News</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni
            minus assumenda veritatis iusto delectus voluptatum cupiditate
            soluta voluptatibus quaerat voluptas? Dolorem hic quaerat molestias
            dolor corporis, quia tempore perspiciatis amet!
        </p>
    </body>
</html>
